body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #373D3F;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  background-color: #FFFFFF;
}

h1 {
  font: 2.0em Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h2 {
  font: 1.5em Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h3 {
  font: 1.2em Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #107896;
}

a:hover, a:active {
  color: #F26D21;
}

div {
  page-break-inside: avoid;
}

table {
  margin: 0 0 0 0;
  page-break-inside: avoid;
  margin-left: auto ;
  margin-right: auto ;
  width: auto;
}

caption {
    caption-side: bottom;
    font-size: 80%;
}



/* ---- Images ---- */
figure {
    display: table;
    width: 1px; /* This can be any width, so long as it's narrower than any image */
}
img, figcaption {
    display: table-row;
}

.example {
  border-radius: 25px;
  border: 2px solid #2980b9;
  padding: 20px;
  max-width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto ;
  margin-right: auto ;
}

.example hr{
  border:none;
  border-bottom: 1px solid #2980b9;
}

.lefttable td:first-child {
    text-align: left;
}​
