
body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #373D3F;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  background-color: #FFFFFF;
}

h1 {
  font: 2.0em Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #f6f1ed;
  font-weight: bold;
  line-height: 20pt;
  background-color: #30231d;
  max-width: 800px;
  width: 800px;
  padding: 10px;
}



div {
  page-break-inside: avoid;
}


.question {
  border-radius: 25px;
  border: 2px solid #2980b9;
  padding: 20px;
  max-width:600px;
}

/* LIST #2 */
#list2 { width:500px; }
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#30231d;
;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#000000; border-left: 1px solid #999; display:block;}
#list2 ol li p em { display:block; }
