<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/course.css" rel="stylesheet" type="text/css" media="all">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: { linebreaks: { automatic: true } },
      "HTML-CSS": { linebreaks: { automatic: true } },
      SVG: { linebreaks: { automatic: true } }
    });
    </script>

  </head>
  <body>
    <div class="container">
        {{ content }}

      <hr>

      &copy; 2015&mdash;2018

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="http://kdusling.github.io/">Kevin Dusling</a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="https://kdusling.github.io/teaching/Applied-Fluids/Resources.html">

      Applied Fluid Mechanics Resources & Notes</a>


    </div>
  </body>
</html>
