<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/course.css" rel="stylesheet" type="text/css" media="all">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7080617284731198"
     crossorigin="anonymous"></script>

    <script type="text/x-mathjax-config">
    var font = "Latin-Modern";

    MathJax.Hub.Config({
       TeX: {
           extensions: ["autoload-all.js"],
           Macros: {
               s: '{\\mathrm{s}}',
               min: '{\\mathrm{min}}',
               hr: '{\\mathrm{hr}}',
               kg: '{\\mathrm{kg}}',
               slug: '{\\mathrm{slugs}}',
               N: '{\\mathrm{N}}',
               kN: '{\\mathrm{kN}}',
               inch: '{\\mathrm{in}}',
               ft: '{\\mathrm{ft}}',
               m: '{\\mathrm{m}}',
               mm: '{\\mathrm{mm}}',
               km: '{\\mathrm{km}}',
               mi: '{\\mathrm{mi}}',
               mph: '{\\mathrm{mph}}',
               cm: '{\\mathrm{cm}}',
               lb: '{\\mathrm{lb}}',
               lbm: '{\\mathrm{lbm}}',
               lbf: '{\\mathrm{lbf}}',
               Pa: '{\\mathrm{Pa}}',
               kPa: '{\\mathrm{kPa}}',
               MPa: '{\\mathrm{MPa}}',
               psi: '{\\mathrm{psi}}',
               C: '{^\\circ\\mathrm{C}}',
               F: '{^\\circ\\mathrm{F}}',
               R: '{\\mathrm{R}}',
               K: '{\\mathrm{K}}',
               gal: '{\\mathrm{gal}}',
               L: '{\\mathrm{L}}',
               cfm: '{\\mathrm{cfm}}',
               fpm: '{\\mathrm{fpm}}',
               gpm: '{\\mathrm{gpm}}',
               sg: '{\\mathrm{sg}}',
               Re: '{\\mathrm{Re}}',
               WP: '{\\mathrm{WP}}',
               inWC: '{\\mathrm{inH}_2\\mathrm{O}}',
               hp: '{\\mathrm{hp}}',
               lbftovs: '{\\mathrm{lb}\\cdot\\mathrm{ft}/\\mathrm{s}}',
             },
         },
	     tex2jax: {
		       inlineMath: [['$','$']],
		       displayMath: [['\\[','\\]']],
		       processEscapes: true,
	      },
	      "SVG":{
		        font:font,
            linebreaks: { automatic: true }
	      },
	      "HTML-CSS": {
		        webFont: font,
		        imageFont: font,
		        preferredFont: font,
		        availableFonts: [],
		        scale: 100,
		        mtextFontInherit: true,
            linebreaks: { automatic: true }
	      },
        "fast-preview": {
            Chunks: {EqnChunk: 10000, EqnChunkFactor: 1, EqnChunkDelay: 0},
            color: "inherit!important",
            updateTime: 30, updateDelay: 6,
            messageStyle: "none",
            disabled: true
          }
      });
     </script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-79202801-1', 'auto');
       ga('send', 'pageview');

     </script>


  </head>
  <body>

      <div class="container">
        {{ content }}

      <hr>

      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0; width:auto; height:auto;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="http://kdusling.github.io/">Kevin Dusling</a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="https://kdusling.github.io/teaching/Applied-Fluids/Resources.html">

      Applied Fluid Mechanics Resources & Notes</a>

      <BR><BR>
    </div>
  </body>
</html>
