<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/course.css" rel="stylesheet" type="text/css" media="all">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        // enable automatic line breaks (might look ugly)
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } },

        // enable $ for inline math -> use \$ for ordinary dollar-sign
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        },

        
        MatchWebFonts: {
          matchFor: {
            "HTML-CSS": true,
            NativeMML: false,
            SVG: false
          },
          fontCheckDelay: 2000,
          fontCheckTimeout: 30 * 1000
        }
      });
    </script>

  </head>
  <body>
    <div class="container">
        {{ content }}

      <hr>

      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="http://kdusling.github.io/">Kevin Dusling</a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="https://kdusling.github.io/teaching/Applied-Fluids/Resources.html">

      Applied Fluid Mechanics Resources & Notes</a>

      <BR><BR>
    </div>
  </body>
</html>
