<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/course.css" rel="stylesheet" type="text/css" media="all">




  </head>
  <body>
    <div class="container">
        {{ content }}

      <hr>

      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0; width:auto; height:auto;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>

      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

      <a href="https://kdusling.github.io/teaching/Applied-Fluids/Resources.html">

      Applied Fluid Mechanics Resources & Notes</a>

      <BR><BR>
    </div>
  </body>
</html>
