<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
            				tex2jax: {skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']}
          			});

        		MathJax.Hub.Queue(function() {
            			var all = MathJax.Hub.getAllJax(), i;
            			for(i=0; i < all.length; i += 1) {
                			all[i].SourceElement().parentNode.className += ' has-jax';
            			}
        		});
			</script>

			<script type="text/javascript"
        		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			</script>
			
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
