



 
body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #373D3F;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  background-color: #FFFFFF;
}

h1 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h2 {
  font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #107896;
}

a:hover, a:active {
  color: #F26D21;
}

p {
    max-width:800px;
}

